@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;

  background: #fffcf4;
  color: #20211f;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button,
a {
  font-family: inherit;
}
